<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237907449155-rrkan4g1m8e2a3bje499ge4do236vq28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237907449155-rrkan4g1m8e2a3bje499ge4do236vq28</string>
	<key>API_KEY</key>
	<string>AIzaSyDZFDD-rBeIjmpI7qaLwoF5AYro6K2cHZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>237907449155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shone.breakPoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-bfbfe</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-bfbfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237907449155:ios:f15e2c407e788489</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-bfbfe.firebaseio.com</string>
</dict>
</plist>